.options{
    margin-top: 12vh;
    width: 100%;
    height: 8vh;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 6%;
    display: flex;
    align-items: center;
}
.options ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    gap: 4%;
    color: var(--subHeading-color);
    height: 100%;
}
.options ul li:first-child{
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 0;
}
.options ul li:first-child::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    background-color: var(--primary-color);
    bottom: 0;
    left: 20%;
    z-index: 0;
    /* border-bottom: 2px solid var(--primary-color); */
}