header{
    display: flex;
    height: 12vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    padding: 6px 16px;
    background-color: #FFF;
    z-index: 9999;
    /* border-bottom: 1px solid var(--border-color); */
}
.header-left{
    width: 20%;
    display: flex;
    align-self: center;
    justify-content: start;
}
.header-left a{
    background: #E7E7E7;
    padding: 16px 32px;
    color: var(--primary-color);
    text-decoration: none;
}

.header-center{
    width: 32%;
    min-width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 40px;
    gap: 4%;
    width: 100%;
    list-style: none;
    border: 0.5px solid var(--border-color);
    
}
.header-center ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    max-width: fit-content;
    padding: 6px 16px;
    border-radius: 40px;
    cursor: pointer;
}
.header-center ul li:first-child{
    background-color: var(--primary-color);
    color: #FFF;
}

.header-right{
    width: 20%;
}
.header-right ul{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 8%;
}

.header-right ul li:last-child, .header-right ul li:first-child {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.bell-icon{
    position: relative;
}

.bell-icon::after{
    content: "";
    background-color: var(--primary-color);
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
    right: 1px;
    border-radius: 100%;
}
.msgs-icon::after {
    content: "";
    background-color: var(--primary-color);
    height: 8px;
    width: 8px;
    position: absolute;
    top: 4px;
    left: 30px;
    border-radius: 100%;
}
 .msgs-icon{
    position: relative;
 }

@media screen and (width <= 1200px) {
    .header-center ul{
        gap: 2%;
    }
}